<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.jsでTODOアプリを開発</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="toDoApp">
        <div v-if="toggle" class="container-fluid">
            <p v-bind="errMsg" class="alert alert-danger" role="alert">{{ errMsg }}</p>
        </div>
        <div class="mx-auto" style="width: 50%;">
            <div class="container m-3">
                <h2>ToDoリスト</h2>
            </div>
            <div class="container m-3">
                <form v-on:submit.prevent>
                    <!-- 入力フォームが空の場合のみエラーメッセージが表示される -->
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">add New Task....</label>
                        <input type="text" v-model="newItem" class="form-control">
                    </div>
                    <button class="btn btn-primary" v-on:click="addToDoList">追加</button>
                </form>
            </div>
            <div class="container m-3">
                <table class="table">
                    <thead>
                        <th>ステータス</th>
                        <th>タスク名</th>
                        <th></th>
                    </thead>
                    <tbody v-for="(todo, index) in todos">
                        <td><input type="checkbox" v-model="todo.isDone"></td>
                        <td><span v-bind:class="{ done: todo.isDone }">{{ todo.item }}</span></td>
                        <td><button class="btn btn-danger" v-on:click="deleteToDoList(index)">削除</button></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="./main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>